body {
  background-color: #124559;
}

p {
    margin: 0;
}

.slider {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
  background-color: #598392;
  border-radius: 3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.slider__pics {
  width: 90%;
  margin: auto;
}

.slider__text {
  width: 70%;
  color: #eff6e0;
}

.slider__pics, .slider__text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.pic,
.text {
  width: 100%;
  border-radius: 1rem;
  flex-shrink: 0;
  margin-top: 2rem;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}