body {
  background-color: #124559;
}

p {
  margin: 0;
}

.main {
  width: 55%;
  margin: auto;
  margin-top: 3rem;
  background-color: #598392;
  border-radius: 3rem;
}

.slider {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.slider__pics {
  width: 100%;
  margin-top: 2rem;
}

.slider__text {
  width: 65%;
  color: #eff6e0;
  margin-bottom: 2rem;
}

.slider__pics,
.slider__text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.pic,
.text {
  width: 100%;
  border-radius: 1rem;
  flex-shrink: 0;
  transition: transform 0.5s linear;
}

.text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 130%;
}

.slider__points {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  height: 1.7rem;
}

label {
  cursor: pointer;
}

.radio {
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  border: 0.15rem solid #aec3b0;
  background-color: transparent;
  margin: 0.1rem;
  transition: background-color 0.5s linear;
}
label:hover .radio {
  background-color: #aec3b0;
}
#radio1:checked ~ .slider__points #l-radio1,
#radio2:checked ~ .slider__points #l-radio2,
#radio3:checked ~ .slider__points #l-radio3,
#radio4:checked ~ .slider__points #l-radio4 {
  background-color: #eff6e0;
}

#radio1:checked ~ .slider__pics #pic1,
#radio1:checked ~ .slider__pics #pic2,
#radio1:checked ~ .slider__pics #pic3,
#radio1:checked ~ .slider__pics #pic4,
#radio1:checked ~ .slider__text #text1,
#radio1:checked ~ .slider__text #text2,
#radio1:checked ~ .slider__text #text3,
#radio1:checked ~ .slider__text #text4 {
  transform: translateX(0);
}
#radio2:checked ~ .slider__pics #pic1,
#radio2:checked ~ .slider__pics #pic2,
#radio2:checked ~ .slider__pics #pic3,
#radio2:checked ~ .slider__pics #pic4,
#radio2:checked ~ .slider__text #text1,
#radio2:checked ~ .slider__text #text2,
#radio2:checked ~ .slider__text #text3,
#radio2:checked ~ .slider__text #text4 {
  transform: translateX(-100%);
}
#radio3:checked ~ .slider__pics #pic1,
#radio3:checked ~ .slider__pics #pic2,
#radio3:checked ~ .slider__pics #pic3,
#radio3:checked ~ .slider__pics #pic4,
#radio3:checked ~ .slider__text #text1,
#radio3:checked ~ .slider__text #text2,
#radio3:checked ~ .slider__text #text3,
#radio3:checked ~ .slider__text #text4 {
  transform: translateX(-200%);
}
#radio4:checked ~ .slider__pics #pic1,
#radio4:checked ~ .slider__pics #pic2,
#radio4:checked ~ .slider__pics #pic3,
#radio4:checked ~ .slider__pics #pic4,
#radio4:checked ~ .slider__text #text1,
#radio4:checked ~ .slider__text #text2,
#radio4:checked ~ .slider__text #text3,
#radio4:checked ~ .slider__text #text4 {
  transform: translateX(-300%);
}
